
.cart-card {
    display: grid;
    grid-template-columns: 10rem 18rem 5rem;
    background: #FFFFFF;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    padding: 1rem 0 1rem 0;
    margin-left: 1rem;
    margin-right: 10rem;
    max-width: 550px;
}

.cart-img {
    max-width: 12rem;
    max-height: 10rem;
}

.button-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.minus {
    display: grid;
    align-items: center;
    justify-self: end;
    border: none;
    background: #FFA542;
    color: white;
    border-radius: 100%;
    height: 30px;
    font-weight: bold;
    font-size: 20px
}

.plus {
    display: grid;
    align-items: center;
    justify-self: start;
    border: none;
    background: #FFA542;
    color: white;
    border-radius: 100%;
    height: 30px;
    font-weight: bold;
    font-size: 20px;
}

.cart-count {
    display: grid;
    justify-self: center;
    align-items: center;
    padding: 0;
}


.data-container {
    display: grid;
}


.name {
    display: grid;
    align-items: end;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    color: #1C1C27;
    margin-bottom: 5px;
}


.cart-price {
    display: grid;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #AAAAAA;
}


.delete-container {
    display: grid;
    justify-self: end;
    margin-right: 10px;
}

.cart-icon {
    display: grid;
    justify-self: end;
    font-size: 20px;
    color: red;
}

.big-cart-price {
    display: grid;
    align-items: end;

    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    text-align: right;

    color: #1C1C27;
    margin-bottom: 4px;
}
