.container {
    display: grid;
    grid-template-rows: 40px 1fr;
    justify-self: center;
    padding-top: 2rem;
    height: 76.4vh;
}

.elements {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.cart-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 1rem;
    color: #1C1C27;
}

.total-container {
    display: grid;
    justify-self: center;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    max-height: 115px;
    margin-right: 2rem;
}

.buy {
    padding: 1rem 1rem 1rem 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.total-text {
    display: grid;
    justify-self: start;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    padding-right: 5rem;

}

.total-price {
    display: grid;
    justify-self: end;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;

}

.buy-button {
    background: #101010;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    height: 64px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
}