
.products-list {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(
    3, auto
	);
    margin-right: 10.5rem;
}

.category {
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 900;
    font-size: 15px;
    padding-left: 10px;
    color: #838383;
}