.card {
    display: grid;
    background: #FFFFFF;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    padding: 1rem 2rem 1rem 2rem;
    width: 35vh;
}


.image {
    display: grid;
    justify-items: center;
    align-items: center;
}

.img {
    width: 200px;
    height: 250px;
}

.wrapper {
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding-top: 2rem;
}

.info1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.title {
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 21px;
    color: #1C1C27;
}

.prices {
    display: grid;
    grid-template-rows: 20px 20px;
    justify-self: end;
}

.price {
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #FFA542;
}

.oldPrice {
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    text-decoration-line: line-through;
    color: #FFCE7F;
}

.info2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: end;
    padding-bottom: 1.5rem;
}

.rateContainer {
    display: grid;
    grid-template-columns: 30px 30px;
}

.star {
    width: 24px;
    height: 24px;
    color: #FFA542;
}

.rate {
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    color: #838383;
}

.buyButton {
    display: grid;
    align-items: end;
    justify-self: end;
    border: none;
    background: white;
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    color: #000000;
}

.buyButton:hover {
    color: #FFA542;

}