.header {
    display: flex;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    /*padding-left: 2rem;*/
    /*padding-right: 2rem;*/
    /*margin-right: 10rem;*/
}

.logo {
    width: 70rem;
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
}

.text  {
    text-decoration: none;
    color: #101010;
}

.text:hover {
    color: #FFA542;
}

.account {
    display: flex;
    column-gap: 45px;
}

.favourites {
    position: relative;
    display: flex;
    cursor: pointer;
    color: #838383;
}

.account svg {
    width: 24px;
    height: 24px;
}

.cart {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #838383;
}

.count {
    position: absolute;
    width: 14px;
    height: 14px;
    background: #FFA542;;
    right: -5px;
    bottom: 15px;
    border-radius: 50%;
    font-weight: 700;
    font-size: 11px;
    color: white;
    text-align: center;
    line-height: 16px;
}