.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background: white;
    margin-right: 10rem;
    margin-top: 1rem;
    border-radius: 30px 30px 0 0;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 2rem;
}

.footer-logo {
    display: grid;
    grid-template-columns: 1fr;
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
}

.footer-menu {
    display: grid;
    grid-template-columns: 2fr 2fr;
}

.first {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 8px;

}

.second {
    display: grid;
    grid-template-rows: 2fr 2fr;
    justify-items: center;
    align-items: center;
    column-gap: 15px;

}

.language {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    justify-items: center;
    align-items: center;
}

.social {
    display: grid;
    grid-template-columns: 36px 36px 36px;
    justify-self: end;
    padding-right: 2rem;
}

.social svg {
    width: 24px;
    height: 24px;
}

.language svg {
    width: 20px;
    height: 20px;
    color: #838383;
}